@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body {
    font-family: 'Oleo Script', cursive;
    background-image: url('./assets/mlb.jpg'); 
    color:white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

    
  .blue-background {
    background-color: #1a365d;
    background-image: none; 
  }
